<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapper为根元素，namespace指定了命名空间-->
<mapper namespace="com.benniao.dao.CommonUserMapper">
    <select id="findByUsername" parameterType="String" resultType="com.benniao.entity.CommonUser">
        select *
        from user
        where username = #{username}
    </select>
    <update id="updateUserInfo" parameterType="String">
        update user
        set username = #{1},password = #{2},phone = #{3}
        where uid = #{0}
    </update>



</mapper>
