<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapper为根元素，namespace指定了命名空间-->
<mapper namespace="com.benniao.dao.ParcelMapper">
    <select id="selectByUsername" parameterType="String" resultType="com.benniao.entity.Parcel">
        select *
        from user
                 join parcel p on user.phone = p.user_phone
        where p.username = #{username}
        order by status
    </select>
    <select id="searchByCode" parameterType="String" resultType="com.benniao.entity.Parcel">
        select *
        from user
                 join parcel p on user.phone = p.user_phone
        where p.username = #{0}
          and p.code like concat('%', #{1}, '%')
    </select>
    <select id="searchByInt_time" parameterType="String" resultType="com.benniao.entity.Parcel">
        select *
        from user
                 join parcel p on user.phone = p.user_phone
        where p.username = #{0}
          and p.int_time like concat('%', #{1}, '%')
    </select>
    <select id="searchByAdmin_phone" parameterType="String" resultType="com.benniao.entity.Parcel">
        select *
        from user
                 join parcel p on user.phone = p.user_phone
        where p.username = #{0}
          and p.admin_phone like concat('%', #{1}, '%')
    </select>
    <select id="searchByStatus" parameterType="String" resultType="com.benniao.entity.Parcel">
        select *
        from user
                 join parcel p on user.phone = p.user_phone
        where p.username = #{0}
          and p.status like concat('%', #{1}, '%')
    </select>
    <select id="searchByCompany" parameterType="String" resultType="com.benniao.entity.Parcel">
        select *
        from user
                 join parcel p on user.phone = p.user_phone
        where p.username = #{0}
          and p.company like concat('%', #{1}, '%')
    </select>

    <select id="_selectByAdminname" parameterType="String" resultType="com.benniao.entity.Parcel">
        select *
        from admin
                 join parcel p on admin.phone = p.admin_phone
        where admin.username = #{adminname}
        order by status
    </select>
    <update id="_updateByeid" parameterType="String">
        update parcel
        set status  = #{1},
            code    = #{2},
            int_time= #{3},
            out_time= #{4},
            company = #{5}
        where eid = #{0}
    </update>

    <select id="_searchByCode" parameterType="String" resultType="com.benniao.entity.Parcel">
        select *
        from admin join parcel p on admin.phone = p.admin_phone
        where admin.username = #{0}
          and p.code like concat('%', #{1}, '%')
    </select>
    <select id="_searchByInt_time" parameterType="String" resultType="com.benniao.entity.Parcel">
        select *
        from admin join parcel p on admin.phone = p.admin_phone
        where admin.username = #{0}
          and p.int_time like concat('%', #{1}, '%')
    </select>
    <select id="_searchByOut_time" parameterType="String" resultType="com.benniao.entity.Parcel">
        select *
        from admin join parcel p on admin.phone = p.admin_phone
        where admin.username = #{0}
          and p.out_time like concat('%', #{1}, '%')
    </select>
    <select id="_searchByCompany" parameterType="String" resultType="com.benniao.entity.Parcel">
        select *
        from admin join parcel p on admin.phone = p.admin_phone
        where admin.username = #{0}
          and p.company like concat('%', #{1}, '%')
    </select>
    <select id="_searchByUser_phone" parameterType="String" resultType="com.benniao.entity.Parcel">
        select *
        from admin join parcel p on admin.phone = p.admin_phone
        where admin.username = #{0}
          and p.user_phone like concat('%', #{1}, '%')
    </select>
    <select id="_searchByStatus" parameterType="String" resultType="com.benniao.entity.Parcel">
        select *
        from admin join parcel p on admin.phone = p.admin_phone
        where admin.username = #{0}
          and p.status like concat('%', #{1}, '%')
    </select>


</mapper>
