<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapper为根元素，namespace指定了命名空间-->
<mapper namespace="com.benniao.dao.SystemAdminMapper">
    <select id="findByUsername" parameterType="String" resultType="com.benniao.entity.SystemAdmin">
        select *
        from admin
        where username = #{username}
    </select>

    <update id="updateAdminInfo">
        update admin
        set username=#{1},password=#{2},phone=#{3}
        where aid=#{0}
    </update>
</mapper>
