<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapper为根元素，namespace指定了命名空间-->
<mapper namespace="com.benniao.dao.SystemAdminMapper">
    <select id="findByUsername1" parameterType="String" resultType="com.benniao.entity.SystemAdmin">
        select *
        from common_user
        where username = #{username}
    </select>


</mapper>
